<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta name="viewport" http-equiv="Content-Type" charset="utf-8" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>My Diary</title>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>

<body>
  <div id="loader"></div>
  <div class="container-fluid">
    <div class="row">
      {% include 'navbar.html' %}
    </div>
    {% block content %}
    {% endblock %}
    {% block additional_script %}
    {% endblock %}
  </div>
</body>
</html>
