{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col">
        <h4 class="title-page">
            <center>Number of Fav Books</center>
        </h4>
        <center><img class="pinkstar-image star-responsive" src="https://i0.wp.com/whateverbrightthings.com/wp-content/uploads/2016/12/Pink-Star-Folder.png?fit=1400%2C1400" alt="starpic"></center>
        <center>
            <h4 class="string-numfav">0</h4>
        </center>
        <div class="rectangle1"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <center>
                <h4 class="title-page">Table of books</h4>
            </center>
        </div>
    </div>
    <!-- <div class="col">
    <div class="search-container">
      <form>
        <button id="search-btn" class="btn-default title-page" type="submit"><i class="fa fa-search"></i></button>
        <input id="str-to-search" class="title-page" type="search" placeholder="Search.." name="search" style="background-color: white">
      </form>
    </div> 
  </div> -->
</div>
<div class="row">
    <div class="col">
        <table class="table field" align="center">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Publisher</th>
                    <th>
                        <center>Publish Date</center>
                    </th>
                    <th>
                        <center>Related Image</center>
                    </th>
                    <th>
                        <center>Mark Fav</center>
                    </th>
                </tr>
            </thead>
            <tbody id="booksTable">
            </tbody>
        </table>
    </div>
</div>
<!-- 
{% block additional_script %}
  <script src="{% static 'js/booksscript.js' %}"></script>
{% endblock %} -->
{% endblock content %}