{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col col-left">
    <h3 class="title-page">Your Brand New Diaries..</h3>
    <h5 class="string">Hallo, apa kabar?</h5>
    <section name="form">
      <form class="string" id="diary_form" method="post" action="{% url 'diary' %}">
        {% csrf_token %}
        {{ diary_form }}
        <br>
        <button type="submit" class="btn btn-default">Post!</button>
      </form>
      <form action="{% url 'delete' %}" method="post" id="delete_form">
        {% csrf_token %}
        <button id="delete_form_btn" type="submit" form="delete_form" value="delete" class="btn btn-default string">Delete all post</button>
      </form>
    </section>
  </div>
  <div class="col col-right">
    <h3 class="title-page">My Latest Diaries</h3><br>
    {% if diary_message %}
      {% for i in diary_message %}
      <div class="card bg-secondary">
          <div class="card-body">
              <h5 class="card-title">{{ i.diary }}</h5>
              <span class="fa-li string" ></span><i class="fas fa-clock"></i> {{ i.diary_created }}</span>
          </div>
      </div>
      {% endfor %}
    {% else %}
  <h5 class="string">No recent diaries :(</h5>
  {% endif %}
  </div>
</div>
{% endblock content %}
