<div class="topnav" id="myTopnav">
  <div class="dropdown">
    <button class="dropbtn"><strong><h4>Menu</h4></strong></button>
    <div class="dropdown-content">
      <a href="/"><strong><h4>Profile</h4></strong></a>
      <a href="/books"><strong><h4>Books</h4></strong></a>
      <a href="/diary"><strong><h4>Diary</h4></strong></a>
      <a href="/register"><strong><h4>Register</h4></strong></a>
    </div>
  </div>
</div>
<div class="rectangle1"></div>
