body {
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
* {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.container-fluid {
  background-color: white;
}

/*Navbar css*/

.topnav {
  background-color: white;
}
.topnav a {
  float: right;
  display: block;
  color: #BC8F8F;
  text-align: center;
  text-decoration: none;
  padding: 1vw 2vw;
  font-family: Century Gothic;
  font-size: auto;
}
.topnav a:hover {
  background-color: #ECDCEF;
  color: #BC8F8F;
}
.topnav a:active {
  background-color: white;
}
.active {
  background-color: white;
  color: #BC8F8F;
}
.rectangle1 {
  position: relative;
  height: 0.5vw;
  width: 100%;
  float: left;
  background-color: #BBBBBB;
}

/*Diary page css*/

.title-page {
  color: #BC8F8F;
  margin: 2vh 0vw 0vh 0vw;
  background-color: pink;
  font-size: auto;
  font-family: Century Gothic;
}
.col {
  margin: 0;
  padding: 0;
}
.col-left {
  margin: 0 1% 0 0;
}
.col-right {
  margin: 0 0 0 1%;
}
.bg-secondary {
    background-color: #CCAD9D!important;
}
.card {
  opacity: 0.6;
  filter: alpha(opacity=70);
  border-color: white;
  border-radius: .25rem;
}
.string-landingpage {
  font-family: Century Gothic;
  color: #826C61;
  margin: 2vh 0vw;
  font-size: auto;
}

/*Spinner*/

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #BC8F8F;
  border-radius: none;
  border-top: 16px solid #BC8F8F;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/*Profile page css*/

.profile-image {
  border-radius: 50%;
  margin: 4vh 0vw;
}
.responsive {
  width: 25%;
  height: auto;
}
.my-name {
  font-family: Bell MT;
  color: #D2B48C;
  margin: 0.5vh 0vw;
  font-size: auto;
}

/*Accordion css*/

.accordion {
  border: none;
  background-color: white;
  color: #BC8F8F;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  width: 100%;
  padding: 2% 5% 2% 5%;
  transition: 0.1s;
}
.active, .accordion:hover{
  background-color: pink;
}
.accordion:after {
  content: '\002Bc6';
  color: #BC8F8F;
  float: right;
  margin-left: 5px;
}
.active:after {
    content: "\002Bc5";
}
.panel {
    padding: 0 30px;
    background-color: white;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height 0.2s ease-out;
    text-align: left;
}
.name-year-etc {
  color: #CCAD9D;
  font-size: auto;
  margin: 1vh 0vw 0vh 2vw;
}

/*Both css*/

.string {
  font-family: Century Gothic;
  color: #826C61;
  margin: 2vh 0vw;
  font-size: auto;
}
.btn {
  background-color: #BBBBBB;
  border-color: #BBBBBB;
  color: white;
  height: auto;
  width: auto;
}

/*Books page css*/

.table td, .table th {
  vertical-align: middle;
}
.table thead th {
  vertical-align: middle;
}
.field {
  font-family: Maiandra GD;
  color: #D2B48C;
  margin: 1vh 0vw 0vh 0vw;
}
.pinkstar-image {
  border-radius: none;
  margin: 0;
}
.star-responsive {
  width: 10%;
  height: auto;
}
.string-numfav {
  font-family: Century Gothic;
  color: white;
  background-color: #CCAD9D;
  width: 15%;
  margin: 0;
  font-size: auto;
}
.yellowstar-image {
  width: 9vh;
  height: auto;
}
