<style>
body {
  margin: 0;
  width: 100%;
  overflow-y: scroll;
}
.container-fluid {
  background-color: white;
}

/*Navbar css*/

.topnav {
  background-color: white;
}
.topnav a {
  float: right;
  display: block;
  color: #BC8F8F;
  text-align: center;
  text-decoration: none;
  padding: 1vw 2vw;
  font-family: Century Gothic;
  font-size: auto;
}
.topnav a:hover {
  background-color: #ECDCEF;
  color: #BC8F8F;
}
.topnav a:active {
  background-color: white;
}
.active {
  background-color: white;
  color: #BC8F8F;
}
.rectangle1 {
  position: relative;
  height: 0.5vw;
  width: 100%;
  float: left;
  background-color: #BBBBBB;
}

/*Diary page css*/

.title-page {
  color: #BC8F8F;
  margin: 2vh 0vw 0vh 0vw;
  background-color: PINK;
  font-size: auto;
  font-family: Century Gothic;
}
.col {
  margin: 0;
  padding: 0;
}
.col-left {
  margin: 0 1% 0 0;
}
.col-right {
  margin: 0 0 0 1%;
}
.bg-secondary {
    background-color: #CCAD9D!important;
}
.card {
  opacity: 0.6;
  filter: alpha(opacity=70);
  border-color: white;
  border-radius: .25rem;
}

/*Profile page css*/

.profile-image {
  border-radius: 50%;
  margin: 4vh 0vw;
}
.responsive {
  width: 25%;
  height: auto;
}
.my-name {
  font-family: Bell MT;
  color: #D2B48C;
  margin: 0.5vh 0vw;
  font-size: auto;
}

/*Accordion css*/

.accordion {
  border: none;
  background-color: white;
  color: #BC8F8F;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  width: 100%;
  padding: 2% 5% 2% 5%;
  transition: 0.1s;
}
.active, .accordion:hover{
  background-color: pink;
}
.accordion:after {
  content: '\002Bc6';
  color: #BC8F8F;
  float: right;
  margin-left: 5px;
}
.active:after {
    content: "\002Bc5";
}
.panel {
    padding: 0 30px;
    background-color: white;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height 0.2s ease-out;
    text-align: left;
}
.name-year-etc {
  color: #CCAD9D;
  font-size: auto;
  margin: 1vh 0vw 0vh 2vw;
}

/*Both css*/

.string {
  font-family: Century Gothic;
  color: #826C61;
  margin: 2vh 0vw;
  font-size: auto;
}
.btn {
  background-color: #BBBBBB;
  border-color: #BBBBBB;
  color: white;
  height: auto;
  width: auto;
}
</style>
